.Projects__image-wrapper {
  position: relative;
  cursor: pointer;
}

.Projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    rgba(62, 81, 81, 0.692),
    rgba(222, 203, 164, 0.699)
  );
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.Projects__overlay span {
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  border: 10px solid #cdcdcd;
  transform: scale(0);
  transition: all 0.4s 0.1s;
}

.Projects__image-wrapper:hover .Projects__overlay {
  opacity: 1;
  visibility: visible;
}

.Projects__image-wrapper:hover .Projects__overlay span {
  transform: scale(1);
}

.Projects__image-wrapper img {
  transition: all 0.4s;
}

.Projects__image-wrapper:hover img {
  filter: blur(3px);
}

.Projects__sidebar button {
  border: none;
  background-color: transparent;
  text-align: left;
  transition: all 0.3s;
  cursor: pointer;
  padding: 20px;
  display: block;
  position: relative;
}

@media (max-width: 640px) {
  .Projects__sidebar button {
  padding: 5px 20px;
  font-size: 16px;
  }
}

.Projects__sidebar button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 100%;
  background-color: #9eca50;
  opacity: 0;
  transition: all 0.3s;
}

.Projects__sidebar button.active::after {
  opacity: 1;
}

.Projects__sidebar button:hover {
  background-color: #dedede;
}

.Projects__sidebar button:active,
.Projects__sidebar button:focus {
  outline: none;
}

.Projects__image-wrapper a {
  text-shadow: none;
  background-image: none;
}
