.Project__container {
  flex-grow: 1;
  width: 97.5%;
  height: 88vh;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-y: scroll;
  padding: 80px;
  border-radius: 4px;
}

.Project__container h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.Project__Jumbo {
  height: auto;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  object-fit: cover;
}

/* .Project__Img__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 1;
  grid-gap: 3px;
} */

.Project__Img {
  width: 100%;
  height: auto;
  display: block;
}

.Project__brick {
  margin: 0 auto;
}