.Social__Button {
  margin: 0 10px;
  background-image: none;
  cursor: pointer;
  height: 20px;
  z-index: 300;
  transition: all ease 0.2s;
  animation: appear 4s normal;
  animation-delay: 4s;
  animation-fill-mode: both;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.Social__Button:hover {
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
}

.Social__Button--Nav {
  text-shadow: none;
  color: rgba(0, 0, 0, 0.8);
  transition: all ease 0.2s;
  animation: appear 4s normal;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.Logo {
  background-image: none;
  width: 25%;
  margin-top: -1.2em;
  margin-left: -2.3em;
  margin-right: -2.3em;
}

.Mouse {
  position: absolute;
  bottom: 5%;
  left: 45%;
  font-size: inherit;
  background-image: none;
  cursor: default;
}
