.Nav-Container {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3em;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin-left: 0.75em;
}

.Header span {
  color: black;
  font-size: 3.3em;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0.3em;
  text-align: center;
  letter-spacing: 3px;
}

.Header + p {
  font-weight: 900;
  text-align: center;
  letter-spacing: 6px;
  color: #9eca50;
  margin: 0;
  font-size: 1.75em;
  margin-top: -0.5em;
}

.Nav-Menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.Nav-Menu-Header {
  width: 60%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.Menu-Link-Wrapper {
  margin: 0 auto;
}

.Menu-Link-Wrapper li {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

.Menu-Link-Wrapper:hover .NavLink:not(:hover) {
  transform: scale(0.9);
}

.Menu-Link-Wrapper li:not(:last-child) {
  margin-bottom: 30px;
}

.NavLink {
  background-image: none;
  color: #424242;
  font-size: 20px;
  position: relative;
  font-style: italic;
  text-shadow: none;
  border-bottom: 1px solid #cdcdcd;
  display: inline-block;
  overflow: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.NavLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #a7c862;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 0.3s;
}

.NavLink:hover {
  transform: translateY(-5px) scale(1.25);
  border-bottom-color: transparent;
  color: black;
}

.NavLink:hover::after {
  transform: translateX(0);
}
