.Social-Button {
  margin: 0 10px;
  background-image: none;
  cursor: pointer;
  height: 20px;
}

.Social-Button:hover {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  outline: 1px solid #939393;
  outline-offset: 6px;
}
