.Container {
  display: flex;
  flex-grow: 1;
  width: 97.5%;
  height: 88%;
  margin: 18px auto;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.Container--Rel {
  position: relative;
}

.Carousel-Container {
  flex-grow: 1;
}

.About__Img__Container {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-image: url('../about.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0, 100% 0, 78% 100%, 0 100%);
}

.About__Logo__Container {
  text-align: center;
  padding-bottom: 0.5em;
}

.About__Logo__Container--Pos {
  margin-top: 20px;
  left: 15%;
  position: relative;
}

.Border__Bottom {
  border-bottom: 2px solid #9eca50;
  margin-top: 0.75em;
}

.About__Logo {
  background-image: none;
}

.About__Logo--Size {
  width: 100px;
}

.About__Content {
  top: 0;
  right: 0;
  padding: 1em;
  width: 50%;
  height: 100%;
  padding: 1rem 3rem;
}

.Name {
  font-size: 2.5em;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-weight: bold;
}

.Name h1 {
  font-size: 33px;
  margin-bottom: 8px;
}

.Name span {
  color: black;
  text-align: center;
  letter-spacing: 3px;
}

.Name + p {
  font-weight: 900;
  font-size: 1em;
  text-align: center;
  color: #9eca50;
  margin-top: -0.75em;
}

.Text {
  font-size: 15px;
  margin: 0;
  text-indent: 1em;
  letter-spacing: 1px;
  text-align: center;
}

.Text--Size {
  width: 75%;
  left: 25%;
}
