.Container {
  display: flex;
  /* min-height: calc(100vh - 53px - 18px - 12px); */
  flex-grow: 1;
  width: 95%;
  margin: 18px auto;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 20px 4px rgba(0, 0, 0, 0.19);
}

.Nav-Container {
  display: flex;
  flex-direction: column;

  width: 50%;
  background: white;
  opacity: 0.7;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  font-weight: bold;
  letter-spacing: 2.5px;
}

.Header span {
  color: black;
  font-size: 3em;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.Header + p {
  font-weight: 900;
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  letter-spacing: 2px;
  color: #b5c780;
  margin: 0;
}

.Carousel-Container {
  width: 50%;
}

.Nav-Menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.Menu-Header {
  width: 60%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.Menu-Link-Wrapper {
  margin: 0 auto;
}

.Menu-Link-Wrapper li {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

.Menu-Link-Wrapper:hover .NavLink:not(:hover) {
  transform: scale(0.90);
}

.Menu-Link-Wrapper li:not(:last-child) {
  margin-bottom: 30px;
}

.NavLink {
  background-image: none;
  color: #424242;
  font-size: 20px;
  position: relative;
  font-style: italic;
  text-shadow: none;
  border-bottom: 1px solid #cdcdcd;
  display: inline-block;
  overflow: hidden;
  transition: all .3s;
  backface-visibility: hidden;
}

.NavLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: hsl(75, 39%, 70%);
  z-index: -1;
  transform: translateX(-100%);
  transition: all .3s;
}

.NavLink:hover {
  transform: translateY(-5px) scale(1.25);
  border-bottom-color: transparent;
  color: black;
}

.NavLink:hover::after {
  transform: translateX(0);
}