.Loading {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 300;
  background-color: white;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url('../../backgroundImg.jpg');
  animation: fade 1.5s normal;
  animation-delay: 5.25s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
