* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url('../backgroundImg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'PT Serif', serif;
}

img {
  object-fit: cover;
  image-rendering: pixelated;
}

.Background__Wrapper {
  padding: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Social__Wrapper {
  display: flex;
  justify-content: flex-end;
}
